# OS files
.DS_Store
Thumbs.db

# Python
.venv/
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/
build/
dist/
*.egg-info/

# Environment files
.env
# IDE/editor settings
.vscode/
.idea/

# docs
docs/plan.md